/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Muli:wght@100;400;500;600;700;800;900&display=swap');
@import './assets/css/variables.scss';
html, body {
    min-height: 100%;
    height: auto;
    margin: 0;
 }
body {
    font-family: $primary-font-family !important;
   // color:$primary-page-color;
}


.theme-dark {
    background-color: $bg-theme-dark;
    color: #fff !important;
    h1,h2,h3,h4,h5,h6, a, .custom-control-label, .updated-date, .top-menu-rhs > li .nav-link, .rs-header .navbar-nav .nav-item.active .nav-link, .card-small-txt{
        color:$white;
    }
    .rs-header, .card {
        background-color: $bg-theme-dark;
    }
    .theme-switcher  {       
      border-color:#E6552F;
      background-color:#E6552F;
    }
}

.custom-switch {
      position: absolute !important;
      right: 332px;
      top: 25px;
  }
  .custom-control-input:checked~.custom-control-label::before  {       
    border-color:#E6552F;
    background-color:#E6552F;
}


h1,h2,h3,h4,h5,h6 {
    color:$primary-page-color;
}
ol,ul {
    list-style-type: none;
    margin: 0;
}
html, body, div, span, applet, object, iframes,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, sub, sup, tt, var,
u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

*a:hover {
    text-decoration: none;
}

